<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= "#{@title} - " if @title %>A pragmatic guide to Backbone.js apps</title>
    <link rel="stylesheet" href="/assets/manifest.css">
    <script src="//use.typekit.net/yrp6jrp.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="chapter language-javascript">
    <%= @chapter %>
  </body>
  <script src="/assets/prism.js"></script>
</html>
