<% @class = 'home' %>

<header class="home-header">
  <h1 class="title">A pragmatic guide to Backbone.js apps</h1>
  <h2 class="subtitle">A ranty, opinionated series of easily digestible tidbits</h2>
</header>
<ul class="chapter-index">
  <li>
    <a href="/preface">Preface</a>
  </li>
  <li>
    <a href="/overview-and-bullshit-dispelling">
      Overview <span class="amp">&amp;</span> bullshit dispelling
    </a>
  </li>
  <li>
    <a href="/models-collections-and-data">
      Models, collections <span class="amp">&amp;</span> data
    </a>
  </li>
  <li>
    <a href="/views">Views</a>
  </li>
  <li>
    <a href="/routing-and-controllers">Routing <span class="amp">&amp;</span> controllers</a>
  </li>
  <li>
    <a href="/using-events-like-a-baws">Using events like a boss</a>
  </li>
  <li>
    <a href="/organising-your-app">Organising your app</a>
  </li>
</ul>
<footer class="home-footer">
  <p>
    Passionately written by <a href="https://twitter.com/julio_ody">@julio_ody</a>. Press <span class="key">s</span> anytime to switch between JavaScript/CoffeeScript.
  </p>

  <p>
    Source and submissions on the <a href="https://github.com/juliocesar/backbone-book">GitHub project page</a>.
  </p>
</footer>
