<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>A pragmatic guide to Backbone.js apps</title>
    <link rel="stylesheet" href="/assets/manifest.css">
    <script src="//use.typekit.net/yrp6jrp.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <header class="home-header">
      <h1 class="title">A pragmatic guide to Backbone.js apps</h1>
      <h2 class="subtitle">A sweary, passionate series of easily digestible tidbits</h2>
    </header>
    <ul class="chapter-index">
      <li>
        <a href="/preface">Preface</a>
      </li>
      <li>
        <a href="/overview-and-bullshit-dispelling">
          Overview <span class="amp">&amp;</span> bullshit dispelling
        </a>
      </li>
      <li>
        <a href="/models-and-collections">Models and collections</a>
      </li>
      <li>
        <a>Views</a>
      </li>
      <li>
        <a>The router</a>
      </li>
    </ul>
    <footer class="home-footer">
      <p>
        By <a href="https://twitter.com/julio_ody">@julio_ody</a>, who dost
        protest too much at times.
      </p>
    </footer>
  </body>
</html>
