<% @title = 'Preface' %>

<h1>
  Preface
</h1>

<p class="mark">
  Not long ago I decided I’d run a project in parallel with <a href="https://lisant.io">Lisant</a>, and I called it “A treatise on Backbone.js”. And for as long as it lasted (I never published it), it was very lengthy in delivering its promise.
</p>

<p>
  And then it hit me: it’s literature like that fails at solving the problems pervasive with the entire ecosystem of JS apps, be it Ember, Angular, or whatever else. They’re tiresome, and for every one valuable piece of information, they give you four more that you won’t care until you’re seriously into it.
</p>

<p>
  So this is me untangling myself from my own bullshit. This here is aimed at people still making decisions regarding pure front-end client stacks, as well as being a good link to send around to your friends who may already be into it but are tangled in *their* own bullshit believing there is such a thing as a framework to own them all, or similar myths.
</p>

<p>
  The package is arranged in a series of tips. It’s the best way for me to tell you what to do, and for you to get it done today or tomorrow tops.
</p>

<p>
  If you’re currently working on a Backbone app, the best way to read this is to stop at each point and think whether you’re doing any of those things I’m telling you not to. If you are, and you’re doing it all over the place, then a single item will have a huge impact if you act on it. And don’t be stupid, <strong>do act on it</strong>, otherwise you may as well not read it.
</p>

<p>
  When you’re better at this than I am, you won’t have to listen to my opinion anymore. Then you can then correct me on Twitter, and be all ranty and shit too.
</p>
